.burger {
  z-index: 100;
  cursor: pointer;
  height: 44px;
  width: 44px;
  background: #99CC33;
  border-radius: 35px;
  display: none;
  align-items: center;
  justify-content: center;

  &__inner {
    height: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__line {
    width: 14px;
    height: 2px;
    background-color: #5B7A1E;
  }
}

@media screen and (max-width: 1020px) {
  .burger {
    display: flex;
  }
}