.h1 {
  font-size: 36px;
  line-height: 100%;
  font-weight: 700;
  /* Cool Gray / Cool Gray 7 */

  color: #3A424A;
}

@media (max-width: 1170px) {
  .h1 {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .h1 {
    font-size: 24px;
  }
}